<app-header></app-header>
<nav class="nav">
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="assets\Giva logo.avif" alt="" width="100" height="70" class="d-inline-block align-text-top">
        </a>
      </div>
    </nav>
<div class="nav-search">
   <ul>
   <li><a routerLink="/">Shop All</a></li>
    <li><a href="#" >Valentine Store</a></li>
    <li><a href="#">Best of GIVA</a></li>
    <li><a href="#">Pendants & EAarrings</a></li>
    <li><a href="#">Cart</a></li>
    <li><a routerLink="/seller-auth">Login</a></li>
   </ul>
    <input type="text" placeholder="Search Products"/>
    <button>Search</button> 
   </div>
    </nav>

