/* You can add global styles to this file, and also import other style files */
body {
    font-family: sans-serif;
  }
  .container {
   margin: 0;
   padding: 0;
  }
  .common-form {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: auto;
  }
  .form-input {
    height: 35px;
    margin-bottom: 20px;
    border: 1px solid pink;
    padding-left: 15px;
    color: pink;
    width: 300px;
  }
  .form-button {
    height: 35px;
    border: 1px solid pink;
    color: black;
    cursor: pointer;
    width: 200px;
    align: center;
  }
  .error-p{
    color: red;
  }
  
  .message-p{
    color: green;
    text-align: center;
  }
  
  .carousel-caption {
    background-color: #0000007d;
    border-radius: 10px;
  }
  .carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: black;
    border-radius: 5px;
  }
  
  .invalid-input{
    color: red;
    font-size: 12px;
    margin-top:-20px
  }
  button:disabled{
    cursor: not-allowed;
  }
  .max-width{
    width: 100%;
  }